* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;

        background: transparent;
    }
html, body {

 height: 100%;
 width: 100%;
 margin-top: 0;
 margin: 0 !important;
    padding: 0 !important;
  display: inline;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
body {background-color: #1a1f36;
  color: ;
  font-size: 20px;

}


.logo{

  display:block;
  width: 617px;
   margin: 0 auto;
   position: relative;
   max-width: 100%

}
.logo img {
max-width: 100%;


}
h2 {font-size: 20px;
font-family: "FontAwesome";}
a, ul {color:#c32a5b;
font-family: "FontAwesome";
text-decoration: none;
 }

a:hover{
 color:white;

}

ul {
  list-style-type: none;
}
.menu {
  margin-left: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.menu li {
display: inline-block;

}

.menu li a {
padding: 5px;
display: inline-block;
margin-left: 20px;
}

.youtubevideo {
  display: block;
  width: 800px;
  margin: 0% auto;


}


.infernoclub {

text-align: center;
font-size: 25px;
}

.icons {
  text-align: center;
  margin-top: 10px;

}
.icons a {
  padding: 5px;
}
.contenedor {

}
.video-youtube {
  height: 0;
  padding-bottom: 39.375%;
  position: relative;
  width: 70%;
  margin: auto;

}

.video-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.fullback {
  background-image: url();
  height: 100vh;
  background-size: cover;
  margin-bottom: 10px;
  margin-top: 0;
  background-attachment: fixed;
background-position: top;
}

h1 {
 margin-left: 0;
 margin-top: 0;

}

.bg {
  position: fixed;
z-index: -1;
top: 0;
right: 0;
bottom: 0;
left: 0;
transition: .25s;
pointer-events: none;
}
.bg2 {
  position: fixed;
z-index: -1;
top: 0;
right: 0;
bottom: 0;
left: 0;
transition: .25s;
pointer-events: none;
}



.menu li:first-child:hover ~ .bg {
  background: #ffca6d;

}
.menu li:nth-child(2):hover ~ .bg {
  background: #ff6d6d;
}
.menu li:nth-child(3):hover ~ .bg {
  background: #6dffb9;
}
.menu li:nth-child(4):hover ~ .bg {
  background: #6dcaff;
}
.menu li:nth-child(5):hover ~ .bg {
  background: #ec6dff;
}

.menu li:nth-child(6):hover ~ .bg {
  background: #FFB6C1;
}

.infernoclub:hover ~ .bg2 {
  background: #DBDBDB;
}

.infernoclub{
  color: #c32a5b;
}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #1a1f36 20%, #c32a5b 80%);
}
.bgTop {
    z-index: 3;
    opacity: 0.5;
}


.bgMiddle {
    z-index: 2;
    opacity: 0.75;
}
.bgBottom {
    z-index: 1;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.contenedorlogo{
  margin-left: auto;
  margin-right: auto;
z-index: 4;




  position: absolute;
  max-width: 20%;
  }

  .acidlogo {
    z-index: 4;
    position: absolute;
    max-width: 20%;
    left: 50%;
      transform:translate(-51.7%,60%);
}
.acidlogo2 {
  z-index: 4;
  position: absolute;
  max-width: 20%;
  left: 50%;
    transform:translate(-51.7%,60%);
    opacity: 0;
  transition: .2s;
}
.acidlogo3 {
  z-index: 6;
  position: absolute;
  max-width: 20%;
  left: 50%;
    transform:translate(-51.7%,60%);
    opacity: 0;
  transition: .2s;
}
.wrapperlogo:hover .acidlogo3 {
  opacity: 1;
}
.wrapperlogo:hover .acidlogo2 {
  opacity: 1;
}

  .wrapperlogo {
    width: 100%;
    height: auto;

  }
.imagenfondo {
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  top: ;
  transform: translateY(0%);
  margin: auto;
  width: 100%;
  overflow: hidden;


}
