body{
  background-color: #FFE81C;
  font-size: 2vh;
  letter-spacing: .5vh;
  text-transform: uppercase;

  font-weight: 400;
  color: #352B33;

}

.mensaje{
  width: 80%;
  transform: translateX(-50%);
  left: 50%;
  position:relative;
  top: 10%;
  max-width: 800px;

}

a{
  text-decoration: none;
  color: #352B33;
}
img {
  width: 80%;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  top: 10%;
  max-width: 800px;

}
.responsive {
    width: 100%;
    max-width: 500px;
    height: auto;
}
